
#my720pxcontainer {
    width: 446.4px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    margin-top: 10px;
    padding-top: 0px;
}

h2 {
   text-align:center;
   padding-top: 0px;
   margin-top: 0px;
}

header {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

main {
    background-color: white;
    min-height: 50px;
    padding: 10px;
}

.backbutton {
    float:left;
    margin-left: 20px;
}

#headerImg {
    padding-left: 3px;
    padding-right: 10px;
    float:right;
    margin-right: 20px;
}
#headerImg img{
    width: 65px;
    height: 65px;
}

.noBackbutton {
    margin-left: 100px;
}