<html>
<head>
    <LINK href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery-1.9.1.js"></script>
    <LINK href="../css/myStyle.css" rel="stylesheet" type="text/css">
    <title>Subscription</title>
</head>

<body>
<div id="my720pxcontainer">
    <br/>
    <header>
        <div class="backbutton"><button class="btn btn-default" id="homebackbtn" onclick="buttonBack();">Back</button></div>
        <div id="headerImg"><img src="../img/Football.jpg"/></div>
        <h2>Choose Match</h2>
    </header>

    <main>
        <p>Select the matches you want to watch.</p>
        <hr/>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Hometeam</th>
                <th>Awayteam</th>
                <th>Score</th>
                <th>Watch</th>
            </tr>
            </thead>

            <tbody id="tbody">
            <tr>
            </tr>

            </tbody>
        </table>
    </main>
</div>

<script type="text/javascript">
    var queryDict = {}
    location.search.substr(1).split("&").forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]})
    var userid = queryDict.userid;

    $(document).ready(function()
    {
        var url = 'http://mobapptest.eu5.org/matches.php';
        $.post(url, function (data) {

                    var count = 0;
                    $.each(data, function (arrayID, group) {
                        count++;
                        $('#tbody tr:last').after('<tr><td>' +
                                count + '</td><td>' +
                                group.date + '</td><td>' +
                                group.hometeam + '</td><td>' +
                                group.awayteam + '</td><td>' +
                                group.scorehome + ' - ' + group.scoreaway + '</td><td>' +
                                '<a href="matchevent.html?id='+group.id+'">watch</a></td></tr>');
                    });

                },
                'json'
        );
    });

    function buttonBack()
    {
        window.location = 'home.html?userid='+userid;
    }
</script>
</body>

</html>
