<html>
<head>
    <LINK href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <LINK href="../css/myStyle.css" rel="stylesheet" type="text/css">
    <title>Home</title>
</head>

<body>
<div id="my720pxcontainer">
    <br/>
    <header>
        <div class="backbutton"><a href="../index.html"> <button class="btn btn-default" id="homebackbtn" >Log Out</button></a></div>
        <div id="headerImg"><img src="../img/Football.jpg"/></div>
        <h2>Home</h2>
    </header>

    <main>
       <button class="btn btn-default btn-lg btn-block" onclick="buttonMatchEvents();">Match</button>
       <button type="submit" class="btn btn-default btn-lg btn-block" onclick="buttonTeam();">Team</button>
    </main>
    </div>

<script type="text/javascript">
    function buttonMatchEvents()
    {
        window.location = 'MatchEvent.html';
    }
    function buttonTeam()
    {
        window.location = 'team.html';
    }
</script>
</body>

</html>
