<html>
<head>
    <LINK href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <LINK href="../css/myStyle.css" rel="stylesheet" type="text/css">
    <title>Match Events</title>
</head>

<body>
<div id="my720pxcontainer">
    <br/>
    <header>
        <div class="backbutton"><button class="btn btn-default" id="homebackbtn" onclick="buttonBack();">Back</button></div>
        <h2>Match Event</h2>
    </header>

    <main>
        <div> view match events here</div>
    </main>
</div>

<script type="text/javascript">
    function buttonBack()
    {
        window.location = 'home.html';
    }

</script>
</body>

</html>
