<html>
<head>
    <LINK href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery-1.9.1.js"></script>
    <LINK href="../css/myStyle.css" rel="stylesheet" type="text/css">
    <title>Match Events</title>
</head>

<body>
<div id="my720pxcontainer">
    <br/>
    <header>
        <div class="backbutton"><button class="btn btn-default" id="homebackbtn" onclick="buttonBack();">Back</button></div>
        <div id="headerImg"><img src="../img/Football.jpg"/></div>
        <h2>Match Event</h2>
    </header>

    <main>
        <div>
            <div class="form-group">
                <label class="control-label">Match date</label>
                <div>
                    <p class="form-control-static">03/06/2014</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Teams</label>
                <div>
                    <p class="form-control-static">Robin Snellinx vs Karel Stevens</p>
                </div>
            </div>
        </div>
        <div id="matchTimediv">
            <label>Time: </label><span id="matchTime"> min 39</span>
        </div>
        <p id="test">test</p>
        <table id="table" class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Team</th>
                <th>Player</th>
                <th>Event</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr>
            </tr>
            </tbody>

        </table>

        <script type="text/javascript">

            $(document).ready(function()
            {
                var queryDict = {};
                 location.search.substr(1).split("&").forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]});

                 var event = queryDict.id;
                 $('#test').text(event);

                var url = 'http://mobapptest.eu5.org/matchEvents.php';
                $.post(url, { matchid: event }, function (data) {
                            var count = 1;
                            $.each(data, function (arrayID, group) {
                                $('#tbody tr:last').after('<tr><td>' +
                                        count + '</td><td>' +
                                        group.team + '</td><td>' +
                                        group.player + '</td><td>' +
                                        group.event + '</td><td>' +
                                        'min ' + group.time + '</td></tr>');
                                count++;
                            });

                            $('#test').val(count);
                        },
                        'json'
                )
            })
        </script>
    </main>
</div>

<script type="text/javascript">
    function buttonBack()
    {
        window.location = 'choosematch.html';
    }

</script>
</body>

</html>
