<html>
<head>
    <LINK href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <LINK href="../css/myStyle.css" rel="stylesheet" type="text/css">
    <title>Register</title>
</head>

<body>
<div id="my720pxcontainer">
    <br/>
    <header>
        <div class="backbutton"><button class="btn btn-default" id="homebackbtn" onclick="buttonBack();">Back</button></div>
        <div id="headerImg"><img src="../img/Football.jpg"/></div>
        <h2>Register</h2>
    </header>

    <main>
        <form class="form" id="registration">
            <div class="form-group">
                <label for="lastnameTextbox">Lastname</label>
                <input type="text" id="lastnameTextbox" class="form-control" placeholder="fill in your lastname" />
            </div>
            <div class="form-group">
                <label for="firstnameTextbox">Firstname</label>
                <input type="text" id="firstnameTextbox" class="form-control" placeholder="fill in your firstname" />
            </div>
            <div class="form-group">
                <label for="emailTextbox">Email</label>
                <input type="text" id="emailTextbox" class="form-control" placeholder="fill in your email address" />
            </div>
            <div class="form-group">
                <label for="passwordTextbox">Password</label>
                <input type="text" id="passwordTextbox" class="form-control" placeholder="fill in your password" />
            </div>
            <div class="form-group">
                <label for="passwordTextbox">Confirm Password</label>
                <input type="text" id="passwordTextbox" class="form-control" placeholder="confirm password" />
            </div>
            <div class="form-group">
                <label for="birthdayTextbox">Date of birth</label>
                <input type="text" id="birthdayTextbox" class="form-control" placeholder="fill in your birthday" />
            </div>
            <div class="form-group">
                <label for="genderTextbox">Gender</label>
                <input type="text" id="genderTextbox" class="form-control" placeholder="fill in your gender" />
            </div>
        </form>
       <button class="btn btn-success btn-lg btn-block" id="btnRegister" onclick="buttonRegister();">Register</button>
    </main>
</div>

<script type="text/javascript">
    function buttonRegister()
    {
        window.location = '../index.html';
    }
    function buttonBack()
    {
        window.location = '../index.html';
    }
</script>
</body>

</html>
