<html>
<head>
    <LINK href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery-1.9.1.js"></script>
    <LINK href="../css/myStyle.css" rel="stylesheet" type="text/css">
    <title>Team</title>
</head>

<body>
<div id="my720pxcontainer">
    <br/>
    <header>
        <div class="backbutton"><button class="btn btn-default" id="homebackbtn" onclick="buttonBack();">Back</button></div>
        <div id="headerImg"><img src="../img/Football.jpg" alt="football image"/></div>
        <h2>Team</h2>
    </header>

    <main>
        <div>
            <h3>Details</h3>
            <form class="form-inline" role="form">
            <div class="col-sm-4 form-group">
                <label class="control-label">Team</label>
                <div>
                    <p class="form-control-static" id="teamname"></p>
                </div>
            </div>
            <div class="col-sm-4 form-group">
                <label class="control-label">Players</label>
                <div>
                    <p class="form-control-static" id="teamPlayers"></p>
                </div>
            </div>
                <br/>
                <br/>
                <br/>
                <div class="whitespace"></div>
            <div class="col-sm-4 form-group">
                <label class="control-label">Country</label>
                <div>
                    <p class="form-control-static" id="teamCountry"></p>
                </div>
            </div>
            <div class="col-sm-4 form-group">
                <label class="control-label">Competition</label>
                <div>
                    <p class="form-control-static" id="teamCompetition"></p>
                </div>
            </div>
            </form>
            <div class="whitespace"></div>
        </div>

        <div>
            <h3>Playerlist</h3>
            <div id="playerlist">
                <div></div>
            </div>
        </div>
        <div class="whitespace"></div>
    </main>
</div>

<script type="text/javascript">

    $(document).ready(function()
    {
        var queryDict = {}
        location.search.substr(1).split("&").forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]})

        var event = queryDict.id;

        var url = 'http://mobapptest.eu5.org/teams.php';
        $.post(url, { id: event }, function (data) {
                $.each(data, function (arrayID, group) {
                    $('#teamname').text(group.team);
                    $('#teamCompetition').text(group.competition);
                    $('#teamCountry').text(group.country);
                })
            },
            'json'
        );

        url = 'http://mobapptest.eu5.org/players.php';
        $.post(url, { teamid: event }, function (data) {
                    var count = 0;

                    $.each(data, function (arrayID, group) {
                        $('#playerlist div:last').after('<div class="playerinfo">' +
                                '<label>Player: </label> ' + group.name + '<br/>' +
                                '<label>Height: </label> ' + group.height + '<br/>' +
                                '<label>Birthday: </label> ' + group.birthdate + '</div>');
                        count++;
                    });
                    $('#teamPlayers').text(count);
                },
                'json'
        );

    })

</script>

<script type="text/javascript">
    function buttonBack()
    {
        window.location = 'chooseteam.html';
    }
</script>
</body>

</html>
