<html>
<head>
    <LINK href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <LINK href="../css/myStyle.css" rel="stylesheet" type="text/css">
    <title>Team</title>
</head>

<body>
<div id="my720pxcontainer">
    <br/>
    <header>
        <div class="backbutton"><button class="btn btn-default" id="homebackbtn" onclick="buttonBack();">Back</button></div>
        <div id="headerImg"><img src="../img/Football.jpg"/></div>
        <h2>Team</h2>
    </header>

    <main>
        <div>
            <h3>Details</h3>
            <form class="form-inline" role="form">
            <div class="col-sm-5 form-group">
                <label class="control-label">Team</label>
                <div>
                    <p class="form-control-static" id="teamname"> F.C. Robin</p>
                </div>
            </div>
            <div class="col-sm-5 form-group">
                <label class="control-label">Players</label>
                <div>
                    <p class="form-control-static" id="teamPlayers"> 22</p>
                </div>
            </div>
            <div class="col-sm-5 form-group">
                <label class="control-label">Competition</label>
                <div>
                    <p class="form-control-static" id="teamCompetition">Jupiler Pro League</p>
                </div>
            </div>
            <div class="whitespace"></div>
        </form>

        <div>
            <h3>Playerlist</h3>
            <div id="playerlist">
                <div class="playerinfo">
                    <label>Player: </label> Robin <br/>
                    <label>Height: </label> 183 cm <br/>
                    <label>Birthday: </label> 24/09/1992 <br/>
                </div>
                <div class="playerinfo">
                    <label>Player: </label> Robin2 <br/>
                    <label>Height: </label> 153 cm <br/>
                    <label>Birthday: </label> 24/09/1992 <br/>
                </div>
                <div class="playerinfo">
                    <label>Player: </label> Robin3 <br/>
                    <label>Height: </label> 192 cm <br/>
                    <label>Birthday: </label> 24/09/1992 <br/>
                </div>
            </div>
        </div>
        <div class="whitespace"></div>
    </main>
</div>

<script type="text/javascript">
    function buttonBack()
    {
        window.location = 'chooseteam.html';
    }
</script>
</body>

</html>
