<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <LINK href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="../js/jquery-1.9.1.js"></script>
        <LINK href="../css/myStyle.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div id="my720pxcontainer">
        <table id="table" class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>BirthDate</th>
                    <th>Height</th>
                    <th>Current Team</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr>
                </tr>
            </tbody>
        </table>

        <div id="testdiv"> This div should be replaced by actual content.</div>
        <script type="text/javascript">

            $(document).ready(function()
            {
                 alert("hey");
                var event = 1;

                var url = 'http://mobapptest.eu5.org/players.php';
                $.post(url, { id: event }, function (data) {
                    var count = 1;
                    $.each(data, function (arrayID, group) {
                        $('#tbody tr:last').after('<tr><td>' +
                         count + '</td><td>' +
                         group.name + '</td><td>' +
                         group.height + '</td><td>' +
                         group.birthdate + '</td><td>' +
                         group.team + '</td></tr>');
                    })
                    count++;
                },
                 'json'
                 )
            })
        </script>
    </div>
    </body>
</html>
