<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <LINK href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="../js/jquery-1.9.1.js"></script>
        <LINK href="../css/myStyle.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div id="my720pxcontainer">
        <table id="table" class="table table-hover">
            <thead>
                <td>id</td>
                <td>matchid</td>
                <td>teamplayersid</td>
                <td>eventid</td>
                <td>time</td>
            </thead>
        </table>
        <input id ="matchevent" value="MatchEvent">
        <button id="button">Zoek!</button>

        <div id="testdiv"> This div should be replaced by actual content.</div>
        <script type="text/javascript">
            $('#button').on('click', function () {
                var event = $('#matchevent').val();
                var url = 'http://mobapptest.eu5.org/testMatchEvents.php';
                $.post(url, {id : event}, function (data) {
                    $.each(data, function(arrayID,group){
                        $('#table tr:last').after('<tr><td>'+
                        group.id+'</td><td>'+
                        group.matchid+'</td><td>'+
                        group.teamplayersid+'</td><td>'+
                        group.eventid+'</td><td>'+
                        group.time+'</td></tr>');
                    })
                },
                'json'
                )
           })
        </script>
    </div>
    </body>
</html>
