<html>
<head>
<script>
    function showMatchEvents(str) {
        if (str == "") {
            document.getElementById("txtHint").innerHTML = "";
            return;
        }
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else { // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("txtHint").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("GET", "http://mobapptest.eu5.org/testMatchEvents.php?q=" + str, true);
        xmlhttp.send();
    }
</script>
</head>
<body>

<form>
<input id ="matchevent" value="MatchEvent">
<button id="button">Zoek!</button>
</form>
<br>
<div id="txtHint"><b>Person info will be listed here.</b></div>


<script type="text/javascript">
document.getElementById("button").onclick = function () {
    document.getElementById("txtHint").innerHTML = document.getElementById("matchevent").value;
    showMatchEvents(document.getElementById("matchevent").value);
};
</script>

</body>
</html>